<footer class="footer py-4">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="text-center small">
                &copy; @DateTime.Now.Year - QuanLySanBong.com. All rights reserved.
            </div>
        </div>
    </div>
</footer>
